<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<header>
    <nav class="books-nav">
        <div class="books-header-left">
            <p class="back-to-books">
                <a href="/media/all-media">
                    <img src="https://img.icons8.com/?size=100&id=46652&format=png&color=000000"
                         alt="Back Icon" width="45" height="45"/>
                    Back to My Media</a>
            </p>
        </div>
        <div class="books-header-right">
            <a href="/home" class="back-home">
                <img src="https://img.icons8.com/?size=100&id=42814&format=png&color=000000"
                     alt="Home Icon" width="45" height="45"/>
                Back to Home
            </a>
        </div>
    </nav>
</header>
<main class="container">
    <section class="add-book-container">
        <form class="add-book-form" th:action="@{/media}" method="post" th:object="${addMediaRequest}">
            <h3>Add Media</h3>

            <!-- Status Dropdown -->
            <div class="form-group">
                <label for="status">Add Status</label>
                <select id="status" name="status" required th:field="*{status}">
                    <option value="">-----Status-----</option>
                    <option th:each="status : ${T(lifeplanner.media.model.MediaStatus).values()}"
                            th:value="${status}"
                            th:text="${status.label}">
                    </option>
                </select>
                <p class="error-message" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>
            </div>

            <!-- Type Dropdown -->
            <div class="form-group">
                <label for="type">Add Type</label>
                <select id="type" name="type" required th:field="*{type}">
                    <option th:each="type : ${T(lifeplanner.media.model.TypeMedia).values()}"
                            th:value="${type}"
                            th:text="${type.label}">
                    </option>
                </select>
                <p class="error-message" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
            </div>

            <!-- Title -->
            <div class="form-group">
                <label for="title">Add Title</label>
                <input type="text" id="title" name="title" placeholder="Title" th:field="*{title}">
                <p class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </div>

            <!-- Rating Dropdown -->
            <div class="form-group">
                <label for="rating">Add Rating</label>
                <select id="rating" name="rating" th:field="*{rating}">
                    <option value="" >-----Rating-----</option>
                    <option th:each="rating : ${T(lifeplanner.media.model.MediaRating).values()}"
                            th:value="${rating}"
                            th:text="${rating.label}">
                    </option>
                </select>
                <p class="error-message" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></p>
            </div>

            <!-- Date Rated -->
            <div class="form-group">
                <label for="date-rated">Add Date Rated</label>
                <input type="date" id="date-rated" name="dateRated" th:field="*{dateRated}">
                <p class="error-message" th:if="${#fields.hasErrors('dateRated')}" th:errors="*{dateRated}"></p>
            </div>

            <!-- Genre -->
            <div class="form-group">
                <label for="genre">Add Genre</label>
                <input type="text" id="genre" name="genre" placeholder="Genre" th:field="*{genre}">
                <p class="error-message" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></p>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="add-book-btn">Save Media</button>
        </form>
    </section>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>