<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons :: head}">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<header>
    <nav class="books-nav">
        <div class="books-header-left">
            <p class="back-to-books">
                <a href="/my-books">
                    <img src="https://img.icons8.com/?size=100&id=46652&format=png&color=000000"
                         alt="Back Icon" width="45" height="45"/>
                    Back to My Books</a>
            </p>
        </div>
        <div class="books-header-right">
            <a href="/home" class="back-home">
                <img src="https://img.icons8.com/?size=100&id=42814&format=png&color=000000"
                     alt="Home Icon" width="45" height="45"/>
                Back to Home
            </a>
        </div>
    </nav>
</header>
<main class="container">
    <section class="add-book-container">
        <form class="add-book-form" action="/books/save" method="post">
            <h3>Add Book</h3>

            <!-- Status Dropdown -->
            <div class="form-group">
                <label for="status">Add Status</label>
                <select id="status" name="status" required>
                    <option value="" disabled selected>-----Status-----</option>
                    <option value="Currently Reading">Currently Reading</option>
                    <option value="Want to Read">Want to Read</option>
                    <option value="Read">Read</option>
                </select>
                <p class="error-message">Error Text Here</p>
            </div>

            <!-- Title -->
            <div class="form-group">
                <label for="title">Add Title</label>
                <input type="text" id="title" name="title" placeholder="Book Title" required>
                <p class="error-message">Error Text Here</p>
            </div>

            <!-- Author -->
            <div class="form-group">
                <label for="author">Add Author</label>
                <input type="text" id="author" name="author" placeholder="Author" required>
                <p class="error-message">Error Text Here</p>
            </div>

            <!-- Date Read -->
            <div class="form-group">
                <label for="date-read">Add Date Read</label>
                <input type="date" id="date-read" name="dateRead" >
                <p class="error-message">Error Text Here</p>
            </div>

            <!-- Rating Dropdown -->
            <div class="form-group">
                <label for="rating">Add Rating</label>
                <select id="rating" name="rating">
                    <option value="" disabled selected>-----Rating-----</option>
                    <option value="1">1 star - ⭐</option>
                    <option value="2">2 stars - ⭐⭐</option>
                    <option value="3">3 stars - ⭐⭐⭐</option>
                    <option value="4">4 stars - ⭐⭐⭐⭐</option>
                    <option value="5">5 stars - ⭐⭐⭐⭐⭐</option>
                </select>
                <p class="error-message">Error Text Here</p>
            </div>

            <!-- Genre -->
            <div class="form-group">
                <label for="genre">Add Genre</label>
                <input type="text" id="genre" name="genre" placeholder="Genre">
                <p class="error-message">Error Text Here</p>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="add-book-btn">Save Book</button>

        </form>
    </section>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>