<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<header>
    <nav class="books-nav">
        <div class="books-header-left">
            <p class="back-to-books">
                <a href="/books/my-books">
                    <img src="https://img.icons8.com/?size=100&id=46652&format=png&color=000000"
                         alt="Back Icon" width="45" height="45"/>
                    Back to My Books</a>
            </p>
        </div>
        <div class="books-header-right">
            <a href="/home" class="back-home">
                <img src="https://img.icons8.com/?size=100&id=42814&format=png&color=000000"
                     alt="Home Icon" width="45" height="45"/>
                Back to Home
            </a>
        </div>
    </nav>
</header>
<main class="container">
    <section class="add-book-container">
        <form class="add-book-form" th:action="@{'/books/' + ${book.id} + '/edit'}" method="post" th:object="${editBookRequest}">
            <h3>Edit Book</h3>

            <!-- Status Dropdown -->
            <div class="form-group">
                <label for="status">Edit Status</label>
                <select id="status" name="status" required th:field="*{bookStatus}">
                    <option value="">-----Status-----</option>
                    <option th:each="bookStatus : ${T(lifeplanner.books.model.BookStatus).values()}"
                            th:value="${bookStatus}"
                            th:text="${bookStatus.label}">
                    </option>
                </select>
                <p class="error-message-add-book" th:if="${#fields.hasErrors('bookStatus')}" th:errors="*{bookStatus}"></p>
            </div>

            <!-- Title -->
            <div class="form-group">
                <label for="title">Edit Title</label>
                <input type="text" id="title" name="title" placeholder="Book Title" required th:field="*{title}">
                <p class="error-message-add-book" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </div>

            <!-- Author -->
            <div class="form-group">
                <label for="author">Edit Author</label>
                <input type="text" id="author" name="author" placeholder="Author" required th:field="*{author}">
                <p class="error-message-add-book" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>
            </div>

            <!-- Date Read -->
            <div class="form-group">
                <label for="date-read">Edit Date Read</label>
                <input type="date" id="date-read" name="dateRead" th:field="*{dateRead}" >
                <p class="error-message-add-book" th:if="${#fields.hasErrors('dateRead')}" th:errors="*{dateRead}"></p>
            </div>

            <!-- Rating Dropdown -->
            <div class="form-group">
                <label for="rating">Edit Rating</label>
                <select id="rating" name="rating" th:field="*{bookRating}">
                    <option value="">-----Rating-----</option>
                    <option th:each="bookRating : ${T(lifeplanner.books.model.BookRating).values()}"
                            th:value="${bookRating}"
                            th:text="${bookRating.label}">
                    </option>
                </select>
                <p class="error-message-add-book" th:if="${#fields.hasErrors('bookRating')}" th:errors="*{bookRating}"></p>
            </div>

            <!-- Genre -->
            <div class="form-group">
                <label for="genre">Edit Genre</label>
                <input type="text" id="genre" name="genre" placeholder="Genre" th:field="*{genre}">
                <p class="error-message-add-book" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></p>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="add-book-btn">Save Book</button>

        </form>
    </section>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>