<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<header>
    <nav class="books-nav">
        <div class="books-header-right">
            <a href="/home" class="back-home">
                <img src="https://img.icons8.com/?size=100&id=42814&format=png&color=000000"
                     alt="Home Icon" width="45" height="45"/>
                Back to Home
            </a>
        </div>
    </nav>
</header>
<main class="container">
    <section class="add-book-container">
        <form class="add-book-form" th:action="@{'/users/' + ${user.id} + '/profile'}" th:method="POST" enctype="multipart/form-data" th:object="${userEditRequest}">
            <input type="hidden" name="_method" value="PUT" />
            <h3>Edit Profile</h3>

            <!-- First Name -->
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="firstName" placeholder="First Name" th:field="*{firstName}">
                <p class="error-message-edit-user" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            </div>

            <!-- Last Name -->
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" name="lastName" placeholder="Last Name" th:field="*{lastName}">
                <p class="error-message-edit-user" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email Address" th:field="*{email}">
                <p class="error-message-edit-user" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>

            <!-- Profile Picture URL -->
            <div class="form-group">
                <label for="profile-picture">Profile Picture</label>
                <input type="url" id="profile-picture" name="profilePicture" placeholder="Profile Picture URL" th:field="*{profilePicture}">
                <input type="file" id="profilePictureFile" name="profilePictureFile" accept="image/*" />
                <p class="error-message-edit-user" th:if="${#fields.hasErrors('profilePicture')}" th:errors="*{profilePicture}"></p>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="add-book-btn">Save Changes</button>

        </form>
    </section>
</main>


<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>