<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<header>
    <nav class="books-nav">
        <div class="books-header-right">
            <a href="/home" class="back-home">
                <img src="https://img.icons8.com/?size=100&id=42814&format=png&color=000000"
                     alt="Home Icon" width="45" height="45"/>
                Back to Home
            </a>
        </div>
    </nav>
</header>
<main class="container">
    <section class="add-book-container">
        <form class="add-book-form" action="/books/save" method="post">
            <h3>Edit Media</h3>
            <!-- Status Dropdown -->
            <div class="form-group">
                <label for="status">Edit Status</label>
                <select id="status" name="status" required>
                    <option value="" disabled selected>-----Status-----</option>
                    <option value="">Watched</option>
                    <option value="">Want to Watch</option>
                </select>
                <p class="error-message">Error Text Here</p>
            </div>
            <!-- Type Dropdown -->
            <div class="form-group">
                <label for="type">Edit Type</label>
                <select id="type" name="type" required>
                    <option value="" disabled selected>-----Type-----</option>
                    <option value="">Movie</option>
                    <option value="">TV Show</option>
                </select>
                <p class="error-message">Error Text Here</p>
            </div>
            <!-- Title -->
            <div class="form-group">
                <label for="title">Edit Title</label>
                <input type="text" id="title" name="title" placeholder="Title" required>
                <p class="error-message">Error Text Here</p>
            </div>
            <!-- Date Watched -->
            <div class="form-group">
                <label for="date-watched">Edit Date Watched</label>
                <input type="date" id="date-watched" name="dateWatched" >
                <p class="error-message">Error Text Here</p>
            </div>
            <!-- Rating Dropdown -->
            <div class="form-group">
                <label for="rating">Edit Rating</label>
                <select id="rating" name="rating">
                    <option value="" disabled selected>-----Rating-----</option>
                    <option value="1">1 star - ⭐</option>
                    <option value="2">2 stars - ⭐⭐</option>
                    <option value="3">3 stars - ⭐⭐⭐</option>
                    <option value="4">4 stars - ⭐⭐⭐⭐</option>
                    <option value="5">5 stars - ⭐⭐⭐⭐⭐</option>
                </select>
                <p class="error-message">Error Text Here</p>
            </div>
            <!-- Genre -->
            <div class="form-group">
                <label for="genre">Edit Genre</label>
                <input type="text" id="genre" name="genre" placeholder="Genre">
                <p class="error-message">Error Text Here</p>
            </div>
            <!-- Submit Button -->
            <button type="submit" class="add-book-btn">Save Media</button>
        </form>
    </section>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>