<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<header>
    <nav class="books-nav">
            <div class="books-header-left">
                <h1>
                    <span th:text="${user.username}"></span>’s LifeHub Favorites
                </h1>
            </div>
        <div class="books-header-right">
            <a href="/home" class="back-home">
                <img src="https://img.icons8.com/?size=100&id=42814&format=png&color=000000"
                     alt="Home Icon" width="45" height="45"/>
                Back to Home
            </a>
        </div>
    </nav>
</header>
<div class="dashboard-fav">
    <div class="lifehub-fav">
        <h2>LifeHub Favorites</h2>
        <div class="shared-content">
            <!-- Books Section -->
            <details class="toggle-section">
                <summary>
                    <img src="https://img.icons8.com/?size=100&id=43130&format=png&color=000000" alt="Books Icon"
                         class="section-icon">
                    Books
                </summary>
                <div class="post-card" th:each="book : ${favoriteBooks}" th:attr="data-book-id=${book.id}">
                    <div class="post-info">
                        <p>
                            "<span th:text="${book.title}"></span>" by
                            <span th:text="${book.author}"></span>
                        </p>
                    </div>
                    <div class="post-actions">
                        <button class="favorite-btn">
                            <img src="https://img.icons8.com/?size=100&id=46336&format=png&color=000000"
                                 alt="Favorite Icon">
                            <span class="favorite-count">0</span> <!-- Default count -->
                        </button>
                    </div>
                </div>
            </details>
            <!-- Media Section -->
            <details class="toggle-section">
                <summary>
                    <img src="https://img.icons8.com/?size=100&id=54994&format=png&color=000000" alt="Media Icon"
                         class="section-icon">
                    Movies / TV Shows
                </summary>
                <div class="post-card" th:each="media : ${favoriteMedia}" th:attr="data-media-id=${media.id}">
                    <div class="post-info">
                        <p>
                           <span th:text="${media.type != null ? media.type.label : 'Default Type'}"></span>: "<span th:text="${media.title}"></span>"
                        </p>
                    </div>
                    <div class="post-actions">
                        <button class="favorite-btn">
                            <img src="https://img.icons8.com/?size=100&id=46336&format=png&color=000000"
                                 alt="Favorite Icon">
                            <span class="favorite-count">0</span> <!-- Default count -->
                        </button>
                    </div>
                </div>
            </details>
            <!-- Recipes Section -->
            <details class="toggle-section">
                <summary>
                    <img src="https://img.icons8.com/?size=100&id=46406&format=png&color=000000" alt="Recipe Icon"
                         class="section-icon">
                    Recipes
                </summary>
                <div class="post-card" th:each="recipe : ${favoriteRecipe}" th:attr="data-recipe-id=${recipe.id}">
                    <div class="post-info-recipes">
                        <p>
                            "<span th:text="${recipe.name}"></span>"
                        </p>
                        <br>
                        <p>Ingredients:</p>
                        <ul>
                            <li th:each="ingredient : ${recipe.ingredients}"
                                th:text="|${ingredient.ingredientName} (${ingredient.quantity} ${ingredient.unit})|">
                            </li>
                        </ul>
                        <br>
                        <p>Instructions:</p>
                        <p th:text="${recipe.instructions}"></p>
                    </div>
                    <div class="post-actions">
                        <button class="like-btn">
                            <img src="https://img.icons8.com/?size=100&id=80137&format=png&color=000000"
                                 alt="Like Icon">
                            <span class="like-count">0</span> <!-- Default count -->
                        </button>
                        <button class="favorite-btn">
                            <img src="https://img.icons8.com/?size=100&id=46336&format=png&color=000000"
                                 alt="Favorite Icon">
                            <span class="favorite-count">0</span> <!-- Default count -->
                        </button>
                    </div>
                </div>
            </details>
            <!-- Travel Section -->
            <details class="toggle-section">
                <summary>
                    <img src="https://img.icons8.com/?size=100&id=43121&format=png&color=000000" alt="Travel Icon"
                         class="section-icon">
                    Travel Plans
                </summary>
                <div class="post-card" th:each="trip : ${favoriteTrip}" th:attr="data-trip-id=${trip.id}">
                    <div class="post-info">
                        <p>
                            "<span th:text="${trip.tripName}"></span>" in "<span th:text="${trip.destination}"></span>"
                        </p>
                    </div>
                    <div class="post-actions">
                        <button class="like-btn">
                            <img src="https://img.icons8.com/?size=100&id=80137&format=png&color=000000"
                                 alt="Like Icon">
                            <span class="like-count">0</span> <!-- Default count -->
                        </button>
                        <button class="favorite-btn">
                            <img src="https://img.icons8.com/?size=100&id=46336&format=png&color=000000"
                                 alt="Favorite Icon">
                            <span class="favorite-count">0</span> <!-- Default count -->
                        </button>
                    </div>
                </div>
            </details>
            <!-- Goals Section -->
            <details class="toggle-section">
                <summary>
                    <img src="https://img.icons8.com/?size=100&id=49297&format=png&color=000000" alt="Goals Icon"
                         class="section-icon">
                    Goals
                </summary>
                <div class="post-card">
                    <div class="post-info">
                        <p><strong>@123r</strong> shared a goal:</p>
                        <p>"Lose weight"</p>
                    </div>
                    <div class="post-actions">
                        <button class="like-btn">
                            <img src="https://img.icons8.com/?size=100&id=80137&format=png&color=000000"
                                 alt="Like Icon">
                            <span class="like-count">0</span> <!-- Default count -->
                        </button>
                        <button class="favorite-btn">
                            <img src="https://img.icons8.com/?size=100&id=46336&format=png&color=000000"
                                 alt="Favorite Icon">
                            <span class="favorite-count">0</span> <!-- Default count -->
                        </button>
                    </div>
                </div>
            </details>
        </div>
    </div>
</div>
<script src="/js/likes.js"></script>
<script src="/js/favorites.js"></script>
<footer th:replace="~{fragments/commons :: footer}"></footer>
</body>
</html>