<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons :: head}">
  <title>Homepage</title>
<body>
<header>
  <nav class="homepage-nav">
    <div class="homepage">
      <p class="greeting">Welcome, user!</p>
    </div>
    <ul class="links-logout">
      <li class="logout">
        <a href="/">
          <img src="https://img.icons8.com/?size=100&id=42802&format=png&color=000000"
               alt="Logout Icon" width="45" height="45"/>
          Logout</a>
      </li>
    </ul>
  </nav>
</header>
<div class="dashboard">
  <div class="sidebar">
    <h2>LifePlanner</h2>
    <div class="profile">
      <img src="https://img.icons8.com/?size=100&id=txmnrJwlctOz&format=png&color=000000" alt="Profile Picture">
      <div class="user-info">
        <p>First Name</p>
        <p>Last Name</p>
        <p>Email</p>
        <a href="#">
          Edit Profile
          <img src="https://img.icons8.com/?size=100&id=43150&format=png&color=000000" alt="Edit Icon">
        </a>
      </div>
    </div>
    <!-- Navigation Section -->
    <details class="toggle-section">
      <summary>Navigation</summary>
      <ul class="nav-links">
        <li>
          <a href="#">
            <img src="https://img.icons8.com/?size=100&id=43130&format=png&color=000000" alt="Books Icon">
            Book Library
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://img.icons8.com/?size=100&id=54994&format=png&color=000000" alt="Media Icon">
            Media Library
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://img.icons8.com/?size=100&id=46406&format=png&color=000000" alt="Recipe Icon">
            Recipes
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://img.icons8.com/?size=100&id=43121&format=png&color=000000" alt="Travel Icon">
            Travel Plans
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://img.icons8.com/?size=100&id=49297&format=png&color=000000" alt="Goals Icon">
            Goals
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://img.icons8.com/?size=100&id=42933&format=png&color=000000" alt="Notepad Icon">
            Notepad
          </a>
        </li>
      </ul>
    </details>
    <div class="admin-links">
      <!-- Admin Section -->
      <details class="toggle-section">
        <summary>Admin</summary>
        <ul class="admin-links">
          <li>
            <a href="#">
              <img src="https://img.icons8.com/?size=100&id=103783&format=png&color=000000" alt="Users Icon">
              Users
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://img.icons8.com/?size=100&id=46603&format=png&color=000000" alt="Pending Icon">
              Pending Approval
            </a>
          </li>
        </ul>
      </details>
    </div>
  </div>
  <div class="lifehub">
    <h2>LifeHub</h2>
    <div class="shared-content">
      <div class="post-card">
        <div class="post-info">
          <p><strong>@User123</strong> shared a book:</p>
          <p>"The Midnight Library" by Matt Haig</p>
        </div>
      </div>
      <div class="post-card">
        <div class="post-info">
          <p><strong>@Foodie99</strong> shared a recipe:</p>
          <p>"Homemade Pizza - Best Recipe Ever!"</p>
        </div>
      </div>
      <div class="post-card">
        <div class="post-info">
          <p><strong>@GlobeTrotter</strong> shared a travel plan:</p>
          <p>"Trip to Bali - March 2025"</p>
        </div>
      </div>
      <div class="post-card">
        <div class="post-info">
          <p><strong>@123r</strong> shared a goal:</p>
          <p>"Lose weight"</p>
        </div>
      </div>
      <div class="post-card">
        <div class="post-info">
          <p><strong>@Oscar</strong> shared a movie/tv-show:</p>
          <p>"Currently watching..."</p>
        </div>
      </div>
      <div class="post-card">
        <div class="post-info">
          <p><strong>@Notion</strong> shared note:</p>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque eleifend ligula, sed varius ex malesuada et. Suspendisse condimentum neque nunc, et volutpat nunc vehicula sit amet. Ut rhoncus ex diam, non mattis lorem fringilla eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque et dignissim est, et tincidunt odio. Sed sed turpis molestie, lacinia lacus vitae, imperdiet enim. Nullam sit amet auctor ex, sed semper odio. In elementum sit amet nulla eu elementum. Fusce in odio volutpat, placerat ligula quis, venenatis leo. Morbi sollicitudin nisi eros, at sollicitudin libero congue sit amet. Maecenas vel interdum lorem, eget vehicula diam. Sed iaculis semper ante, quis dignissim tellus pulvinar sit amet. Praesent dictum iaculis velit eget dapibus.

            Aenean quam lacus, scelerisque ac urna lobortis, molestie rutrum elit. Sed molestie mollis arcu, eget venenatis ligula blandit non. Ut vitae semper dolor, non sagittis ante. Ut eros velit, pharetra in eros sed, placerat finibus magna. Aliquam tellus nisl, fringilla sit amet rhoncus eu, luctus mattis nunc. Sed dapibus arcu vel commodo luctus. Suspendisse potenti. Etiam auctor, leo sit amet vulputate ullamcorper, eros tortor iaculis lectus, a cursus lacus metus hendrerit urna. In sit amet dapibus lectus, eget ullamcorper risus.

            Sed purus mi, pulvinar ut posuere at, vehicula ut ipsum. Aenean fringilla at neque sagittis sollicitudin. Aenean sit amet gravida enim, non imperdiet nunc. Suspendisse dapibus pellentesque turpis sollicitudin mollis. Integer ultrices at tortor a tristique. Morbi a porttitor tortor, ut pulvinar justo. Fusce et scelerisque diam, non aliquam justo. In pulvinar mauris in urna sollicitudin, fringilla ullamcorper turpis rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis ac felis in metus placerat dapibus ut vel tellus. Morbi et ligula eget orci cursus malesuada vel et augue. Phasellus libero nisi, ullamcorper a cursus non, egestas sit amet turpis. Vivamus volutpat mauris sed congue lacinia. Nam facilisis tortor est, sed vulputate ligula interdum scelerisque.

            Integer vel fermentum lorem, vel rhoncus mauris. Nulla sit amet dui ut nisi interdum euismod. Sed cursus nisl auctor, egestas elit ac, pretium justo. Nulla at elit sit amet metus venenatis egestas. Integer tincidunt augue eu quam congue, non bibendum metus lobortis. Donec consectetur, enim at laoreet volutpat, sapien ex sagittis eros, in tincidunt dolor neque ut massa. Fusce a magna lacus.

            Sed ullamcorper ligula egestas lectus faucibus, id facilisis eros lacinia. Sed volutpat sed magna eget porta. Vestibulum egestas pretium sagittis. Phasellus convallis eros vel enim cursus malesuada. Sed nec lorem metus. Donec vel eleifend tortor, in varius arcu. Nulla consequat lobortis felis, id venenatis augue dapibus ac. Morbi nec rutrum libero, sit amet maximus purus. Cras sed porta lacus, ac lacinia metus."</p>
        </div>
      </div>
    </div>
  </div>

</div>
<footer th:replace="~{fragments/commons :: footer}"></footer>
</body>
</html>