<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons :: head}">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<header>
    <nav class="books-nav">
        <div class="books-header-left">
            <h1>User’s Book Library</h1>
        </div>
        <div class="books-header-right">
            <a href="/home" class="back-home">
                <img src="https://img.icons8.com/?size=100&id=42814&format=png&color=000000"
                     alt="Home Icon" width="45" height="45"/>
                Back to Home
            </a>
        </div>
    </nav>
</header>
<!-- Main Dashboard Layout -->
<div class="my-books-dashboard">
    <!-- Sidebar Navigation -->
    <aside class="books-sidebar">
        <ul>
            <li>
                <a href="/books/new">
                    <img src="https://img.icons8.com/?size=100&id=46595&format=png&color=000000"
                         alt="Add Book Icon" width="45" height="45"/>
                    Add Book
                </a>
            </li>
            <li>
                <a href="/all-books">
                    <img src="https://img.icons8.com/?size=100&id=46363&format=png&color=000000"
                         alt="All Books Icon" width="45" height="45"/>
                    All Books
                </a>
            </li>
            <li>
                <a href="/read-books">
                    <img src="https://img.icons8.com/?size=100&id=54999&format=png&color=000000"
                         alt="Read Books Icon" width="45" height="45"/>
                    Read Books
                </a>
            </li>
            <li>
                <a href="/wished-books">
                    <img src="https://img.icons8.com/?size=100&id=54980&format=png&color=000000"
                         alt="Wish List Icon" width="45" height="45"/>
                    Wish List</a></li>
        </ul>
    </aside>
    <!-- Main Content: Currently Reading -->
    <main class="books-main">
        <h2 class="currently-reading">
            <img src="https://img.icons8.com/?size=100&id=55085&format=png&color=000000"
                 alt="Currently Reading Icon" class="currently-reading-icon" width="45" height="45"/>
            Currently Reading
        </h2>
        <div class="books-table">
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>My Rating</th>
                    <th>Genre</th>
                    <th>Share</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}"
                    th:if="${book.bookStatus.name()} == 'CURRENTLY_READING'">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.bookRating}"></td>
                    <td th:text="${book.genre}"></td>
                    <td>
                        <a href="#">
                            <img src="https://img.icons8.com/?size=100&id=46812&format=png&color=000000"
                                 alt="Share Icon" width="45" height="45"/>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/books/edit/{id}(id=${book.id})}">
                            <img src="https://img.icons8.com/?size=100&id=0Ka1o_-mwyre&format=png&color=000000"
                                 alt="Edit Icon" width="45" height="45"/>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/books/delete/{id}(id=${book.id})}">
                            <img src="https://img.icons8.com/?size=100&id=104338&format=png&color=000000"
                                 alt="Delete Icon" width="45" height="45"/>
                        </a>
                    </td>
<!--                    <td>-->
<!--                        <a href="/edit-book">-->
<!--                            <img src="https://img.icons8.com/?size=100&id=0Ka1o_-mwyre&format=png&color=000000"-->
<!--                                 alt="Edit Icon" width="45" height="45"/></a>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <a href="#">-->
<!--                            <img src="https://img.icons8.com/?size=100&id=104338&format=png&color=000000"-->
<!--                                 alt="Delete Icon" width="45" height="45"/></a>-->
<!--                    </td>-->
                </tr>
                </tbody>

            </table>
        </div>
    </main>

</div>
<footer th:replace="~{fragments/commons :: footer}"></footer>
</body>
</html>
