<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
  <title th:text="${pageTitle}"></title>
</head>
<body>

<header th:replace="~{fragments/commons::nav}"></header>

<main class="container">
  <section class="register-container">
    <form class="register-form" th:action="@{/register}" th:method="POST" th:object="${registerRequest}">

      <h3>Register</h3>

      <!-- Username -->
        <div class="form-group">
            <input type="text" id="username" name="username" placeholder="Username" required th:field="*{username}">
            <p class="error-message-register" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            <p class="error-message-register" th:text="${usernameAlreadyExistMessage}"></p>
        </div>

        <!-- Email -->
        <div class="form-group">
            <input type="email" id="email" name="email" placeholder="Email" required th:field="*{email}">
            <p class="error-message-register" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            <p class="error-message-register" th:text="${emailAlreadyExistMessage}"></p>
        </div>

        <!-- Password -->
        <div class="form-group">
            <input type="password" id="password" name="password" placeholder="Password" required th:field="*{password}">
            <p class="error-message-register" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
            <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password" required th:field="*{confirmPassword}">
            <p class="error-message-register" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
        </div>

        <!-- Submit Button -->
      <button type="submit" class="register-btn">Register</button>

      <p class="login-redirect">Already have an account? <a href="/login">Login</a>!</p>
    </form>
  </section>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>
