/* Center the form */
.add-book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

/* Style the form */
.add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3em;
}

.add-book-form h3 {
    text-align: center;
    font-size: 2em;
    color: #006891;
    font-weight: normal;
    margin-bottom: 0.5em;
}

/* Input & Select Styling */
.add-book-form input,
.add-book-form select {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    appearance: auto;
    color: #006891;
}

/* Style placeholders */
input::placeholder {
    color: #006891;
    opacity: 1;
}

input:focus,
select:focus {
    color: #006891;
    border-color: #006891;
    outline: none;
}

select:focus {
    font-weight: bold;
}

/* Button Styling */
.add-book-btn {
    margin-top: 10px;
    width: 150px;
    padding: 10px;
    background: #006891;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    margin-bottom: 1em;
}

.add-book-btn:hover {
    background: #004f68;
}

/* Back to My Books Link */
.back-to-books {
    font-size: 18px;
}

.back-to-books a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #006891;
}

.back-to-books a:hover {
    text-decoration: none;
    font-weight: bold;
}

/* Error Message Styling */
.error-message {
    font-size: 15px;
    color: #9f4825;
    margin-top: 0.3em;
    margin-bottom: 1em;
}
