/* Reset default margin & padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
    background-image: url("/images/dashboard.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between; /* Aligns Home on the left & links on the right */
    align-items: center;
    padding: 15px 20px;
}

/* Navigation bar */
nav {
    display: flex;
    width: 100%;
    align-items: center;
}

/* Home link (left side) */
.home a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #006891;
    font-size: 40px;
    text-decoration: none;
    font-weight: normal;
    padding: 20px;
}

/* Navigation links (right side) */
.links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
    padding: 20px;
}

/* Individual link items */
.links li {
    display: flex;
    align-items: center;
}

/* Links with icons */
.links a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #006891;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}

/* Hover effect */
.links a:hover {
    font-weight: bold;
}

/* Footer Styling */
footer {
    margin-top: auto;
    text-align: center;
    padding: 15px 0;
    color: white;
    font-size: 25px;
}

/* Index page */
h1 {
    color: #006891;
    text-align: center;
    align-items: center;
    margin: 3em 1em 1em;
    font-weight: normal;
}
p {
    color: #006891;
    text-align: center;
    align-items: center;
    font-size: 25px;
}

.text {
    margin-bottom: 1.5em;
}

.auth-text a {
    color: #006891;
    font-weight: bold;
    text-decoration: none;
}

.auth-text a:hover {
    text-decoration: underline;
}

img.quote {
    display: block;
}

.all-quotes-dashboard {
    display: flex;
    align-items: stretch;
    margin: 5em auto;
    padding: 50px;
    gap: 35px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3em;
    width: auto;
}

/* Table Styling */
.quotes-table {
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
}

.quotes-table table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}

.quotes-table th,
.quotes-table td {
    padding: 12px;
    color: white;
}

.quotes-table th {
    font-weight: bold;
}

.quotes-table tbody tr:hover{
    background: rgba(255, 255, 255, 0.2);
}

.error-message-edit-user {
    font-size: 15px;
    color: #9f4825;
    margin-top: 0.5em;
    font-weight: bold;
}